 * {
     padding: 0px;
     margin: 0px;
     box-sizing: border-box;
 }

 body {
     font-family: 'Josefin Sans', 'Roboto Condensed', sans-serif;
     font-size: 16px;
 }

 header {
     height: auto;
     padding: 30px;
 }

 header img {
     width: 180px;
 }

 .container {
     text-align: center;
     width: 100%;
     display: flex;
     flex-direction: column-reverse;
     justify-content: flex-end;
     min-height: 100vh;
     align-items: center;
     background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
 }

 .container .left {
     width: 100%;
     height: auto;
     padding: 50px 30px 0 30px;
 }

 .container .right {
     width: 100%;
     height: 250px;
     background-image: url(./hero-mobile.jpg);
     background-size: cover;
     background-position: center center;
 }

 .container .left h1 {
     font-size: 3.2em;
     font-weight: 200;
     text-transform: uppercase;
     color: hsl(0, 36%, 70%);
     line-height: 3.5rem;
     letter-spacing: .5rem;
 }

 .container .left h1 span {
     color: hsl(0, 6%, 24%);
     font-weight: 700;
 }

 .container .left P {
     max-width: 450px;
     margin: 0 auto;
     color: hsl(0, 36%, 70%);
     line-height: 1.5rem;
     margin-top: 20px;
     margin-bottom: 40px;
 }

 .container form {
     position: relative;
     display: block;
     height: 50px;
     width: 100%;
     max-width: 400px;
     margin: 0 auto;
 }

 .container form input {
     position: absolute;
     width: 100%;
     height: 100%;
     outline: none;
     border-radius: 50px;
     left: 0;
     top: 0;
     border: 1px solid hsl(0, 36%, 70%);
     padding-left: 30px;
     font-family: 'josefin sans' sans-serif;
     font-size: 1.1rem;
 }

 .container form button {
     cursor: pointer;
     position: absolute;
     right: 0;
     top: 0;
     height: 100%;
     width: 70px;
     border-radius: 50px;
     outline: none;
     border: none;
     background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
     box-shadow: 0px 0px 18px 1px hsla(0, 36%, 70%, 0.466);
 }

 .container form button::hover {
     background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsla(0, 52%, 80%, 0.781));
     box-shadow: 0px 0px 13px 2px #f4aaabbf;
 }

 .container form input::placeholder {
     color: hsl(0, 36%, 70%);
     opacity: .8;
 } 

 @media only screen and (min-width:760px)
 {
     header {
         position: absolute;
         padding-left: 10%; 
     }
     .container {
        flex-direction: row;
        padding-top: 0;
        padding-bottom: 0;
     }


     header img {
         width: 200px;

     }

     .container .right {
         width: 80%;
         height: 100vh;
         background-image: url(./hero-desktop\ \(1\).jpg);
    
     } 

     .container .left {
         width: 100%;
         height: 100vh;
         padding-top: 28vh;
         text-align: left;
         padding-left: 10%;
         background-image: url(./Capture.PNG);
         background-position: center;
         background-size: cover;
        
     }

     .container .left h1 {
         font-size: 5rem;
         line-height: 5.5rem;
     }

     .container .left p {
         margin-left: 0;
         font-size: 1.1rem;
     }

     .container form {
         margin-left: 0;
     }

     .container form button {
         width: 80px;
     }  
 }